<h1>Places</h1>
<%= link_to "Add Place", new_place_path, class: "btn btn-success mb-3" %>
<div class="list-group">
  <% @places.each do |place| %>
    <%= link_to place.name, place_path(place), class: "list-group-item list-group-item-action" %>
  <% end %>
</div>
