<h1>New Place</h1>
<%= form_with model: @place, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.submit "Create Place", class: "btn btn-primary" %>
  </div>
<% end %>
